@font-face {
  font-family: 'FS Pixel Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/FSPixelSansUnicode-Regular.ttf') format('truetype');
}

:root {
  --pixel-bg: #1e1e2e;
  --pixel-border: #4a4a6a;
  --pixel-border-light: #6a6a8a;
  --pixel-accent: #5a8cff;
  --pixel-green: #5ac88c;
  --pixel-shadow: 2px 2px 0px #0a0a14;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'FS Pixel Sans', sans-serif;
}

* {
  font-family: 'FS Pixel Sans', sans-serif;
}
